.avatar,
.avatar p {
  height: var(--height-avatar);
  width: var(--height-avatar);
  border-radius: 50%;
  background-color: var(--color-cyan-500);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
