nav {
  display: flex;
  justify-content: flex-end;
  padding: 1rem var(--padding-app);
  height: 60px;
  background-color: var(--color-zinc-950);

  ul {
    list-style: none;
    display: flex;
    gap: 1rem;

    li {
      background-color: var(--color-zinc-800);
      border-radius: var(--border-radius-button);
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--height-button);
      height: var(--height-button);
      cursor: pointer;

      svg {
        fill: var(--color-white);
        width: 24px;
        height: 24px;
      }

      &:hover {
        background-color: var(--color-zinc-500);
      }
    }
  }
}
