.pageLayout {
  background-color: var(--color-zinc-950);
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  main {
    max-width: var(--width-app-max);
    min-width: var(--width-app-max);
    padding: var(--padding-app);
  }

  footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: var(--padding-app);
    padding-right: var(--padding-app);
    position: fixed;
    bottom: 2rem;
    width: 100%;
    max-width: var(--width-app-max);
    margin: auto;

    & > button {
      width: 100%;
    }
  }
}
