.pageLayout {
  background-color: var(--color-zinc-950);
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > * {
    width: 100%;
  }

  nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    background: none;
    right: 0;
  }

  main {
    max-width: var(--width-app-max);
    min-width: var(--width-app-max);
    padding: var(--padding-app);
  }

  footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: var(--padding-app);
    padding-right: var(--padding-app);
    position: fixed;
    bottom: 2rem;
    width: 100%;
    max-width: var(--width-app-max);
    margin: auto;

    & > button {
      width: 100%;
    }
  }
}
