.loginPage {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
  align-items: center;
}

.loginContainer {
  text-align: center;
  color: white;
  // You can add padding, max-width etc. for better spacing and layout.
}

.buttonWrapper {
  margin-top: 20px; // Add space above the button if needed
  display: flex;
  justify-content: center; // This will center the button horizontally
}

.subtitle {
  color: var(--color-zinc-500);
  text-transform: uppercase;
  margin-bottom: 32px;
}
