.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
}

.loginContainer {
  text-align: center;
  color: white;
  // You can add padding, max-width etc. for better spacing and layout.
}

.buttonWrapper {
  margin-top: 20px; // Add space above the button if needed
  display: flex;
  justify-content: center; // This will center the button horizontally
}
