.subtitle {
  font-size: var(--text-size-body);
  color: var(--color-zinc-500);
  text-transform: uppercase;
}

.titleSmall {
  font-size: var(--text-size-title-small);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
}
