:root {
  --color-white: #ffffff;
  --color-zinc-500: #71717a;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;
  --color-blue-500: #3b82f6;
  --color-cyan-500: #06b6d4;

  --border-radius-button: 12px;
  --border-radius-avatar: 96px;

  --text-size-timer: 56px;
  --text-size-title: 32px;
  --text-size-title-small: 24px;
  --text-size-body: 16px;
  --text-size-body-small: 12px;

  --height-input: 40px;
  --height-button: 48px;

  --width-app-max: 393px;
  --padding-app: 32px;

  --height-avatar: 96px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: var(--color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h1,
h2,
h3 {
  font-size: var(--text-size-title);
  text-transform: uppercase;
}

.map-container {
  height: 400px;
}